---
http_interactions:
- request:
    method: post
    uri: https://developer.citymapper.com/api/1/coverage/?key=API_KEY
    body:
      encoding: UTF-8
      string: '{"points":[{"coord":[40.1,-73.0],"id":"test1"},{"coord":[37.784,-122.402]},{"coord":[41.84,-73],"id":"test2"},{"id":"test3"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
    body:
      encoding: UTF-8
      string: '{"points": [{"covered": false, "id": "test1", "coord": [40.1, -73.0]},
        {"covered": true, "coord": [37.784, -122.402]}, {"covered": false, "id": "test2",
        "coord": [41.84, -73.0]}, {"covered": false, "id": "test3"}]}'
  recorded_at: Wed, 07 Sep 2016 14:14:49 GMT
recorded_with: VCR 3.0.3
